:root {
    --baseWhite: #ffffff;
    --baseWhite-dark: #fbfcff;

    --primaryBlue: #316eef;
    --primaryBlue-darkest: #1b3979;

    --baseGray: #bbbcbc;
    --baseGray-light: #dddddd;
    --backgroundGray: #fbfbfb;

    --baseBlack: #000000;
    --baseBlack-light: #2e2f2f;
    --baseBlack-lighter: #5d5d5d;

    --tertiaryRed: #d83e00;
}