@font-face {
    font-family: PublicoBanner;
    src: url('/assets/fonts/PublicoBanner-Regular-Web.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: PublicoBanner;
    src: url('/assets/fonts/PublicoBanner-Medium-Web.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: PublicoBanner;
    src: url('/assets/fonts/PublicoBanner-Bold-Web.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: PublicoHeadline;
    src: url('/assets/fonts/PublicoHeadline-Medium-Web.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: Graphik;
    src: url('/assets/fonts/Graphik-Regular-Web.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: Graphik;
    src: url('/assets/fonts/Graphik-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: Graphik;
    src: url('/assets/fonts/Graphik-Semibold-Web.woff2') format('woff2');
    font-weight: 600;
}